


.mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.mainDiv div {
    padding: 24px;
    border-radius: 8px;
    margin: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%), 0 12px 24px rgb(0 0 0 / 5%);
}


.mainButton {
    color: #e8e8e8;
    height: 39px;
    padding: 0 16px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 9999px;
    margin-top: 2rem;
}
